<div style="vertical-align: middle;">
  <h1>Generate Password</h1>
  <div>
    <label>Enter Lenght</label>
    <input type="text"/>
  </div>
  <div>
    <input type="checkbox">
    <label>Use Alphabets</label>
  </div>
  <div>
    <input type="checkbox">
    <label>Use Symbols</label>
  </div>
  <div>
    <input type="checkbox" >
    <label>Use Numbers</label>
  </div>
  <div>
    <button (click)="onClickedButton()">Generate!</button>
  </div>
  <div>
    <label>Your Password</label>
    <input [value]="password"/>
  </div>
</div>